:root {
    /* base color */
    --color: #f64e7ef0;
    /* base-color saturo: assassinato - cattivi */
    --color2: #e3235af0;
    --color2-alpha: #e3235aa0;
    --shadow-color2: 0 2px 20px 2px var(--color2-alpha);
    /* giustiziato - colonia */
    --color3: #1b72c3f0;
    --color3-alpha: #1b72c3a0;
    --shadow-color3: 0 2px 20px 2px var(--color3-alpha);
    /* software */
    --color4: #20b722f0;
    --color4-alpha: #3cbe25a0;
    --shadow-color4: 0 2px 20px 2px var(--color4-alpha);
    /* simbionti */
    --color5: hsla(39, 65%, 50%, 0.941);
    --color5-alpha: hsla(39, 65%, 50%, 0.641);
    --shadow-color5: 0 2px 20px 2px var(--color5-alpha);
    /* replicanti */
    --color6: #b93ae0f0;
    --color6-alpha: #c144e4a0;
    --shadow-color6: 0 2px 20px 2px var(--color6-alpha);
    /* altro */
    --color7: #19a994f0;
    --color7-alpha: #19a994a0;
    --shadow-color7: 0 2px 20px 2px var(--color6-alpha);

    --dur: .4s;
    --box-shadow: 0 4px 20px -4px #000b;
}

input,
select,
button,
textarea,
option {
    border-bottom: 1px solid #eeed;
    background: var(--dark-graybitalpha);
    color: #fff;
    box-shadow: var(--box-shadow);
}

button {
    background: #eeec;
    color: #111e;
    border: 1px solid var(--border-light);
}

/* transitions */
header ul {
    transition: background-image var(--dur);
}
.player, .description, .dot {
    transition: background-color var(--dur), box-shadow var(--dur);
}
h1, h2, h3 {
    transition: box-shadow var(--dur), border-color var(--dur);
}
#bg, .selector_entry {
    transition: filter var(--dur);
}
/* a, .link {
    transition: color var(--dur);
} */

form {
    border-top: 1px solid #aaa9;
}


/* TEMI */
body.clr-0>#bg, body.bs-clr-0>#bg {filter: /*blur(1px)*/ hue-rotate(0deg);}
body.clr-1>#bg, body.bs-clr-1>#bg {filter: /*blur(1px)*/ hue-rotate(170deg);}
body.clr-2>#bg, body.bs-clr-2>#bg {filter: /*blur(1px)*/ hue-rotate(70deg);}
body.clr-3>#bg, body.bs-clr-3>#bg {filter: /*blur(1px)*/ hue-rotate(-70deg);}
body.clr-4>#bg, body.bs-clr-4>#bg {filter: /*blur(1px)*/ hue-rotate(-130deg);}

body.bs-clr-0 #bgs_list .selector_entry, body.clr-0 #bgs_list .selector_entry {filter: brightness(1.5) hue-rotate(0deg);}
body.bs-clr-1 #bgs_list .selector_entry, body.clr-1 #bgs_list .selector_entry {filter: brightness(1.5) hue-rotate(170deg);}
body.bs-clr-2 #bgs_list .selector_entry, body.clr-2 #bgs_list .selector_entry {filter: brightness(1.5) hue-rotate(70deg);}
body.bs-clr-3 #bgs_list .selector_entry, body.clr-3 #bgs_list .selector_entry {filter: brightness(1.5) hue-rotate(-70deg);}
body.bs-clr-4 #bgs_list .selector_entry, body.clr-4 #bgs_list .selector_entry {filter: brightness(1.5) hue-rotate(-130deg);}

.link, a:not(.username) {
    color: var(--color);
    text-shadow: 0 1px 10px var(--color2);
}
body.clr-0 .link, body.clr-0 a:not(.username),
 body.bs-clr-0 .link, body.bs-clr-0 a:not(.username){
    color: var(--color);
    text-shadow: 0 1px 10px var(--color2);
}
body.clr-1 .link, body.clr-1 a:not(.username),
body.bs-clr-1 .link, body.bs-clr-1 a:not(.username){
    color: var(--color4);
    text-shadow: 0 1px 10px var(--color4);
}
body.clr-2 .link, body.clr-2 a:not(.username),
body.bs-clr-2 .link, body.bs-clr-2 a:not(.username){
    color: var(--color5);
    text-shadow: 0 1px 10px var(--color5);
}
body.clr-3 .link, body.clr-3 a:not(.username),
body.bs-clr-3 .link, body.bs-clr-3 a:not(.username){
    color: var(--color6);
    text-shadow: 0 1px 10px var(--color6);
}
body.clr-4 .link, body.clr-4 a:not(.username),
body.bs-clr-4 .link, body.bs-clr-4 a:not(.username){
    color: var(--color3);
    text-shadow: 0 1px 10px var(--color3);
}

/*body.clr-0 header ul li a:not(.logo),*/ body.clr-0 h1, body.clr-0 h2, body.clr-0 h3,
body.bs-clr-0 h1, body.bs-clr-0 h2, body.bs-clr-0 h3 {
    border-color: var(--color);
    box-shadow: 0 -10px 2em -10px var(--color2);
    text-shadow: 0 -0.1em .5em var(--color2);
}
/*body.clr-1 header ul li a:not(.logo),*/ body.clr-1 h1, body.clr-1 h2, body.clr-1 h3,
body.bs-clr-1 h1, body.bs-clr-1 h2, body.bs-clr-1 h3 {
    border-color: var(--color4);
    box-shadow: 0 -10px 2em -10px var(--color4);
    text-shadow: 0 -0.1em .5em var(--color4);
}
/*body.clr-2 header ul li a:not(.logo),*/ body.clr-2 h1, body.clr-2 h2, body.clr-2 h3,
body.bs-clr-2 h1, body.bs-clr-2 h2, body.bs-clr-2 h3 {
    border-color: var(--color5);
    box-shadow: 0 -10px 2em -10px var(--color5);
    text-shadow: 0 -0.1em .5em var(--color5);
}
/*body.clr-3 header ul li a:not(.logo),*/ body.clr-3 h1, body.clr-3 h2, body.clr-3 h3,
body.bs-clr-3 h1, body.bs-clr-3 h2, body.bs-clr-3 h3 {
    border-color: var(--color6);
    box-shadow: 0 -10px 2em -10px var(--color6);
    text-shadow: 0 -0.1em .5em var(--color6);
}
/*body.clr-4 header ul li a:not(.logo),*/ body.clr-4 h1, body.clr-4 h2, body.clr-4 h3,
body.bs-clr-4 h1, body.bs-clr-4 h2, body.bs-clr-4 h3 {
    border-color: var(--color3);
    box-shadow: 0 -10px 2em -10px var(--color3);
    text-shadow: 0 -0.1em .5em var(--color3);
}
h1.no-shadow, h2.no-shadow, h3.no-shadow {
    box-shadow: none !important;
    border: none;
}
body h1, body h2, body h3,
header ul li a:not(.logo) {
    color: #fffd;
    text-align: center;
    text-transform: uppercase;
}
body h1, body h2, body h3 {
    border-bottom: 1px solid #fffd;
    width: max-content;
    margin-top: 2em;
    min-width: 50%;
    font-size: 1.25rem;
    padding: .5em.8em;  
}
body h1:not(.title-header), body h2:not(.title-header), body h3:not(.title-header) {
    background: #1115;
    border-radius: 1em 0 1em 0;
}
header ul {
    background: var(--color2-alpha);
    box-shadow: 0px 0px 30px -5px #000b;
    background: linear-gradient(130deg, var(--color2-alpha),var(--color3-alpha), #0000 95%);
}
header ul h2,
header ul h3 {
    color: #fffd !important;
}

body.clr-0 header ul, body.bs-clr-0 header ul {background: linear-gradient(130deg, var(--color2-alpha),var(--color3-alpha), #0000 95%);}
body.clr-1 header ul, body.bs-clr-1 header ul {background: linear-gradient(130deg, var(--color4-alpha),var(--color2-alpha), #0000 95%);}
body.clr-2 header ul, body.bs-clr-2 header ul {background: linear-gradient(130deg, var(--color5-alpha),var(--color4-alpha), #0000 95%);}
body.clr-3 header ul, body.bs-clr-3 header ul {background: linear-gradient(130deg, var(--color6-alpha),var(--color5-alpha), #0000 95%);}
body.clr-4 header ul, body.bs-clr-4 header ul {background: linear-gradient(130deg, var(--color3-alpha),var(--color6-alpha), #0000 95%);}

/* only admin form class and roles list */
body.bs-clr-0 center form, body.clr-0 table#roles {box-shadow: 0 -10px 20px -10px var(--color3-alpha) !important; border-color:var(--color3) !important;}
body.bs-clr-1 center form, body.clr-1 table#roles {box-shadow: 0 -10px 20px -10px var(--color2-alpha) !important; border-color:var(--color2) !important;}
body.bs-clr-2 center form, body.clr-2 table#roles {box-shadow: 0 -10px 20px -10px var(--color4-alpha) !important; border-color:var(--color4) !important;}
body.bs-clr-3 center form, body.clr-3 table#roles {box-shadow: 0 -10px 20px -10px var(--color5-alpha) !important; border-color:var(--color5) !important;}
body.bs-clr-4 center form, body.clr-4 table#roles {box-shadow: 0 -10px 20px -10px var(--color6-alpha) !important; border-color:var(--color6) !important;}

body.clr-0 table#roles td {border-color:var(--color3-alpha) !important;}
body.clr-1 table#roles td {border-color:var(--color2-alpha) !important;}
body.clr-2 table#roles td {border-color:var(--color4-alpha) !important;}
body.clr-3 table#roles td {border-color:var(--color5-alpha) !important;}
body.clr-4 table#roles td {border-color:var(--color6-alpha) !important;}

table#roles {
    border-radius: 1.5em 0 1.5em 0;
}
a.username {
    text-shadow: 0 0px 4px #eeeb !important;
}

body.clr-0 .player, 
body.clr-0 .legend .dot.giustiziato,
body.clr-0 #events_list .event.giustiziato .description {
    background: var(--color3-alpha) !important;
    box-shadow: var(--shadow-color3) !important;
}
body.clr-0 .legend .dot.assassinato,
body.clr-0 #events_list .event.assassinato .description {
    background: var(--color2-alpha) !important;
    box-shadow: var(--shadow-color2) !important;
}
body.clr-0 .player a {
    text-shadow: 0 1px 10px var(--color3);
}

body.clr-1 .player, 
body.clr-1 .legend .dot.giustiziato,
body.clr-1 #events_list .event.giustiziato .description {
    background: var(--color2-alpha) !important;
    box-shadow: var(--shadow-color2) !important;
}
body.clr-1 .player a,
body.clr-1 #events_list .event.giustiziato .description a {
    text-shadow: 0 1px 10px var(--color2);
}
body.clr-1 .legend .dot.assassinato,
body.clr-1 #events_list .event.assassinato .description {
    background: var(--color4-alpha) !important;
    box-shadow: var(--shadow-color4) !important;
}
body.clr-1 #events_list .event.assassinato .description a {
    text-shadow: 0 1px 10px var(--color4) !important;
}

body.clr-2 .player, 
body.clr-2 .legend .dot.giustiziato,
body.clr-2 #events_list .event.giustiziato .description {
    background: var(--color4-alpha) !important;
    box-shadow: var(--shadow-color4) !important;
}
body.clr-2 .player a,
body.clr-2 #events_list .event.giustiziato .description a {
    text-shadow: 0 1px 10px var(--color4) !important;
}
body.clr-2 .legend .dot.assassinato,
body.clr-2 #events_list .event.assassinato .description {
    background: var(--color5-alpha) !important;
    box-shadow: var(--shadow-color5) !important;
}
body.clr-2 #events_list .event.assassinato .description a {
    text-shadow: 0 1px 10px var(--color5) !important;
}

body.clr-3 .player, 
body.clr-3 .legend .dot.giustiziato,
body.clr-3 #events_list .event.giustiziato .description {
    background: var(--color5-alpha) !important;
    box-shadow: var(--shadow-color5) !important;
}
body.clr-3 .player a,
body.clr-3 #events_list .event.giustiziato .description a {
    text-shadow: 0 1px 10px var(--color5) !important;
}
body.clr-3 .dot.assassinato,
body.clr-3 #events_list .event.assassinato .description {
    background: var(--color6-alpha) !important;
    box-shadow: var(--shadow-color6) !important;
}
body.clr-3 #events_list .event.assassinato .description a {
    text-shadow: 0 1px 10px var(--color6) !important;
}

body.clr-4 .player, 
body.clr-4 .legend .dot.giustiziato,
body.clr-4 #events_list .event.giustiziato .description {
    background: var(--color6-alpha) !important;
    box-shadow: var(--shadow-color6) !important;
}
body.clr-4 .player a,
body.clr-4 #events_list .event.giustiziato .description a {
    text-shadow: 0 1px 10px var(--color6) !important;
}
body.clr-4 .legend .dot.assassinato,
body.clr-4 #events_list .event.assassinato .description {
    background: var(--color3-alpha) !important;
    box-shadow: var(--shadow-color3) !important;
}
body.clr-4 #events_list .event.assassinato .description a {
    text-shadow: 0 1px 10px var(--color3) !important;
}


/* COLORI FAZIONI
colonia e default */
.player,
.colonia,
.amministrazione,
.dot.giustiziato,
#events_list .event.giustiziato .description {
    background: var(--color3-alpha);
    box-shadow: var(--shadow-color3);
}
.player a,
.colonia a,
.amministrazione a,
.dot.giustiziato,
#events_list .event.giustiziato .description a {
    text-shadow: 0 1px 10px var(--color3);
}
#players_list>.player.amministrazione {
    border: 1px solid #fff9;
}
.edit .ribelli,
.dot.assassinato,
#events_list .event.assassinato .description {
    background: var(--color2-alpha);
    box-shadow: var(--shadow-color2);
}
.edit .ribelli a,
#events_list .event.assassinato .description a {
    text-shadow: 0 1px 10px var(--color2);
}
.edit .software {
    background: var(--color4-alpha);
    box-shadow: var(--shadow-color4);
}
.edit .software a {
    text-shadow: 0 1px 10px var(--color4);
}
.edit .simbionti {
    background: var(--color5-alpha);
    box-shadow: var(--shadow-color5);
}
.edit .simbionti a {
    text-shadow: 0 1px 10px var(--color5);
}
.edit .replicanti {
    background: var(--color6-alpha);
    box-shadow: var(--shadow-color6);
}
.edit .replicanti a {
    text-shadow: 0 1px 10px var(--color6);
}


/* THEME SELECTOR */
#theme_selector_toggle {
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 1;
    z-index: 14 !important;
    margin: .6em;
    padding: .6em;
    background: #000a;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    /* border-radius: 2em; */
    border-radius: 1.3em 0 1.3em 0;
    border-top: 1px solid #ddd4;
    border-right: 1px solid #ddd4;
}
#theme_selector_toggle img {
    opacity: .5;
}
#theme_selector {
    border-top: 1px solid #ddd4;
    opacity: 0;
    /* pointer-events: none; */
    transition: opacity var(--dur);
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(#111d, #000);
    box-shadow: 0 -1em 4em #000;
    z-index: 12 !important;
    /* padding-bottom: 4em; */
    padding-bottom: .6em;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#theme_selector.active {
    opacity: 1;
    pointer-events: all;
}
#bgs_list, #colors_list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    width: 100%;
}
#theme_selector .selector_entry {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-height: 3em;
    max-width: 3em;
    min-height: 3em;
    background-position: center center;
    background-size: contain;
    border-radius: 1.3em 0 1.3em 0;
    margin: .2em;
    box-shadow: 0 4px 20px #0009;
    /* border: 2px solid #aaa2; */
    overflow: hidden;
    transition: transform var(--dur), box-shadow var(--dur), border-radius var(--dur);
    flex-direction: column;
    transform-origin: 50% 50%;
}
#colors_list .selector_entry .primary {
    flex: 2;
}
#colors_list .selector_entry .secondary {
    flex: 1;
}
#colors_list .selector_entry .primary,
#colors_list .selector_entry .secondary {
    width: 100%;
    pointer-events: none;
}
#theme_selector .selector_entry.selected,
#theme_selector .selector_entry:hover,
#theme_selector .selector_entry:active {
    /* border-color: #fff8 !important; */
    /* max-width: 6em; */
    /* max-height: max-content; */
    transform: scale(1.2);
    /* transform: rotate(-90deg); */
    border-radius: 4em;
    box-shadow: 0 1em 2em #000;
}
#bgs_list .selector_entry {
    filter: brightness(2) hue-rotate(0);
}
#bgs_list .selector_entry, .selector_entry.se-random {    
    border: 1px solid #aaa2;
}

#bgs_list .selector_entry.se-0 {background-image: url('../img/bg/space/0.jpg');}
#bgs_list .selector_entry.se-1 {background-image: url('../img/bg/space/1.jpg');}
#bgs_list .selector_entry.se-2 {background-image: url('../img/bg/space/2.jpg');}
#bgs_list .selector_entry.se-3 {background-image: url('../img/bg/space/3.jpg');}
#bgs_list .selector_entry.se-4 {background-image: url('../img/bg/space/4.jpg');}
#colors_list .selector_entry.se-0 .primary {background-color: var(--color2);}
#colors_list .selector_entry.se-0 .secondary {background-color: var(--color3);}
#colors_list .selector_entry.se-1 .primary {background-color: var(--color4);}
#colors_list .selector_entry.se-1 .secondary {background-color: var(--color2);}
#colors_list .selector_entry.se-2 .primary {background-color: var(--color5);}
#colors_list .selector_entry.se-2 .secondary {background-color: var(--color4);}
#colors_list .selector_entry.se-3 .primary {background-color: var(--color6);}
#colors_list .selector_entry.se-3 .secondary {background-color: var(--color5);}
#colors_list .selector_entry.se-4 .primary {background-color: var(--color3);}
#colors_list .selector_entry.se-4 .secondary {background-color: var(--color2);}