:root {
    --footer-height: 2em;
    --border-light: #fff3;
    --border-dark: #0008;
    --dark-grayalpha: #4446;
    --dark-graybitalpha: #111a;
    --box-shadow: 0 4px 20px -4px #000b;
    --dur: .4s;
}

* {
    box-sizing: content-box;
    scroll-behavior: smooth;
}

::selection {
    background: var(--color2);
    color: white;
}

::moz-selection {
    background: var(--color2);
    color: white;
}

*:disabled {
    cursor: not-allowed;
    filter: opacity(.8) saturate(0);
}

.no-padd-marg {
    padding: 0 !important;
    margin: 0 !important;
}

input,
select,
button,
textarea,
.event::after,
.player.dead {
    transition: opacity var(--dur);
}
/* color var(--dur), background var(--dur); */
header ul li a {
    transition: background var(--dur), opacity var(--dur);
}

html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #111;
}

body {
    display: flex;
    flex-direction: column;
}
body>#bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: url('../img/bg/space/1.jpg');
    background-position: center center !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    z-index: 0;
    filter: blur(2px) hue-rotate(0deg);
}

body>*:not(#bg) {
    flex: 1;
    z-index: 1;
}

center {
    height: max-content;
    max-width: 100%;
    padding: 2em 10%;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
}
center.regolamento {
    text-align: justify !important;
    text-shadow: 0 1px 4px #000 !important;
    padding: 1em 18%;
}

center.regolamento h1 {
    margin: 1em auto;
}

center.regolamento h3 {
    margin: 1em auto 0;
    text-decoration: underline;
}
center.regolamento section {
    min-width: 100%;
}
center.regolamento section img {
    vertical-align: middle;
}

a:not(.username), h1, h2, h3 {
    color: var(--color);
    text-shadow: 0 1px 10px var(--color2);
}

header,
center,
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

header {
    position: fixed;
    flex-direction: column-reverse;
    background: linear-gradient(#000c, #0000);
    user-select: none;
    flex-wrap: wrap;
    width: 100vw;
    z-index: 5 !important;
}
header + * {
    margin-top: 8em;
}

header h2 {
    width: max-content;
    min-width: 40%;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    justify-content: center;
    padding: 1em .5em .5em .5em;
    margin: 0;
    text-transform: capitalize;
}

header img, .title img {
    margin-right: .5em;
    /* margin-top: .5rem; */
}
header a {
    text-shadow: none !important;
}
header ul {
    /* position: relative; */
    width: 100%;
    flex: 1;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
}

header ul li {
    flex: 1;
    position: relative;
    margin: .4em;
    display: flex;
}
header ul li a {
    flex: 1;
    padding: 1em;
    cursor: pointer;
    text-decoration: none;
    color: #fff !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    font-weight: 600;
}
header ul li a.logo {
    padding: 0;
    margin: 0;
}
header ul li a:not(.logo):hover,
header ul li a:not(.logo):active {
    background: #0008;
}

.flex-column {
    flex-direction: column;
}

.error {
    color: #fffd;
}

form {
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    min-height: var(--footer-height);
    padding: 1.4em 10vw;
    text-align: center;
    background: linear-gradient(#0000, #000c);
    user-select: none;
}

.legend {
    font-style: italic;
    opacity: .8;
    font-size: .8rem;
}

.legend .dot {
    width: max-content;
    height: min-content;
    padding: .5em;
    border: 1px solid var(--border-light);
    box-shadow: var(--box-shadow);
    display: inline-block;
    margin: .5em;
}

.player a,
a.player,
.event a {
    color: #fffd !important;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer !important;
}

input,
select,
button,
textarea,
option {
    text-align: center;
    border: none;
    margin: .65em;
    padding: .4em .6em;
    box-shadow: var(--box-shadow);
    outline: none !important;
    min-width: 8em;
    opacity: .8;
}

input,
select,
button {
    height: 2em;
}

.full-width {
    width: 100%;
    user-select: none;
}

.half-width {
    width: 40%;
}

input:active,
select:active,
button:active,
textarea:active,
textarea:hover,
input:hover,
select:hover,
button:hover {
    opacity: 1;
}

textarea {
    resize: vertical;
    min-height: 2em !important;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    max-width: 50%;
    width: max-content;
    border: 1px solid var(--border-light);
    cursor: pointer;
    user-select: none;
}

#players_list,
#events_list {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: space-around;
}

#events_list {
    flex-direction: row;
}

#players_list>.player,
#events_list .description {
    justify-content: space-around;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    padding: .9em;
    margin: .5em;
    min-width: 100px;
    border: 1px solid var(--border-light);
    color: #fff;
    flex-direction: column;
    cursor: default;
}
#events_list .event .description small {
    margin-top: .9em;
}

#players_list>.player.dead {
    opacity: .5;
}

#players_list>.player.dead>.username {
    text-decoration: line-through;
}

#players_list>.player.dead:hover,
#players_list>.player.dead:active {
    opacity: .9;
}
#players_list>.player>.role {
    text-shadow: none !important;
}

#events_list .date {
    font-weight: 900;
    font-size: .9rem;
    padding: .4em .8em;
}

.event::after {
    pointer-events: none;
    opacity: 0;
    display: inline;
    position: absolute;
    width: min-content;
    height: min-content;
    content: attr(data-type);
    padding: .3em .5em .4em .5em;
    background: #111e;
    z-index: 20;
    font-size: .9rem;
    border-radius: 1em;
    box-shadow: var(--box-shadow);
}

.event:hover::after,
.event:active::after {
    opacity: 1;
}

#events_list .event .description {
    background: var(--dark-graybitalpha);
    box-shadow: var(--box-shadow);
}

@media (max-width: 700px) {
    header ul li a {
        flex-direction: column;
        font-size: .8rem;
    }
    header a:not(.logo) img {
        max-width: 24px;
        max-height: 24px;
        margin-right: 0;
    }
}