:root {
    --footer-height: 2em;
    
    --accent-color: #f64e7ef0;
    --accent-color2: #e3235af0;
    --accent-color2-alpha: #e3235aa0;
    --accent-color3: #1b72c3f0;
    --accent-color3-alpha: #1b72c3a0;
    --accent-color4: #609b0ef0;
    --accent-color4-alpha: #65a011a0;
    --accent-color5: #19a994f0;
    --accent-color5-alpha: #19a994a0;
    --accent-color6: #9d1bc5f0;
    --accent-color6-alpha: #a11bc5a0;

    --box-shadow: 0 4px 20px -4px #000b;
    --box-shadow-accent2: 0 2px 20px 2px var(--accent-color2-alpha);
    --box-shadow-accent3: 0 2px 20px 2px var(--accent-color3-alpha);
    --box-shadow-accent4: 0 2px 20px 2px var(--accent-color4-alpha);
    --box-shadow-accent5: 0 2px 20px 2px var(--accent-color5-alpha);
    --box-shadow-accent6: 0 2px 20px 2px var(--accent-color6-alpha);

    --dur: .4s;
    --border-light: #fff3;
    --border-dark: #0008;
    --dark-grayalpha: #4446;
    --dark-graybitalpha: #111a;

    --daykill-bg: #2c3b899e;
    --nightkill-bg: #8c1f1f9e;
    --nightkill-bg-alpha: #7321214a;
}

* {
    box-sizing: content-box;
    scroll-behavior: smooth;
}

::selection {
    background: var(--accent-color2);
    color: white;
}

::moz-selection {
    background: var(--accent-color2);
    color: white;
}

*:disabled {
    cursor: not-allowed;
}

input,
select,
button,
textarea,
header ul li,
.event::after,
.player.dead {
    transition: background var(--dur), color var(--dur), opacity var(--dur), border var(--dur);
}

*:not(input, button, select, option, textarea) {
    text-shadow: 0 1px 4px #000d;
}

html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #302919;
}

body {
    background: url('img/bg/1.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

body>* {
    flex: 1;
}

center {
    height: max-content;
    max-width: 100%;
    padding: 2em 10%;
}

center.regolamento {
    text-align: justify !important;
    text-shadow: 0 1px 4px #000 !important;
}

center.regolamento h1 {
    margin: 1em auto;
}

center.regolamento h3 {
    margin: 1em auto 0;
    text-decoration: underline;
}

a:not(.username), h1, h2, h3 {
    color: var(--accent-color);
    text-shadow: 0 1px 10px var(--accent-color2);
}

header,
center,
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

header {
    flex-direction: row;
    background: linear-gradient(#000c, #0000);
    user-select: none;
    flex-wrap: wrap;
}

header h2 {
    width: max-content;
    min-width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .5em;
    margin: 0;
}

header img {
    margin-right: .5em;
    margin-top: 2px;
}

header ul {
    flex: 1;
    list-style: none;
    display: flex;
    padding: .5em;
    margin: 0;
    text-align: center;
    align-items: center;
    background: var(--accent-color2-alpha);
    box-shadow: 50px 6px 30px 3px #000b;
    /* border-top: 1px solid var(--border-light); */
    /* border-bottom: 1px solid var(--border-light); */
    flex-wrap: wrap;
    background: linear-gradient(220deg, var(--accent-color2-alpha),var(--accent-color3-alpha), #0000 80%);
}

header ul li {
    padding: 1em;
    flex: 1;
    min-width: 100px;
    background: #0000;
    cursor: pointer;
}
header ul li:hover,
header ul li:active {
    background: #0006;
}
header ul li a {
    text-decoration: none;
    color: #fff !important;
}

.flex-column {
    flex-direction: column;
}

.error {
    color: #fffd;
}

form {
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    min-height: var(--footer-height);
    padding: 1.4em 10vw;
    text-align: center;
    background: linear-gradient(#0000, #000c);
    user-select: none;
}

.legend {
    font-style: italic;
    opacity: .8;
    font-size: .8rem;
}

.legend .dot {
    width: max-content;
    height: min-content;
    padding: .5em;
    border: 1px solid var(--border-light);
    box-shadow: var(--box-shadow);
    display: inline-block;
}

.player a,
.event a {
    color: #fffd;
    font-weight: bold;
    text-decoration: none;
}

input,
select,
button,
textarea,
option {
    /* border-radius: 2em; */
    text-align: center;
    border: none;
    /* border: 1px solid var(--border-light); */
    border-bottom: 1px solid var(--accent-color2);
    background: var(--dark-graybitalpha);
    color: #fff;
    /* background: #eee; */
    margin: .65em;
    padding: .4em .6em;
    box-shadow: var(--box-shadow);
    outline: none !important;
    min-width: 8em;
    opacity: .8;
}

input,
select,
button {
    height: 2em;
}

.full-width {
    width: 100%;
    user-select: none;
}

.half-width {
    width: 40%;
}

input:active,
select:active,
button:active,
textarea:active,
textarea:hover,
input:hover,
select:hover,
button:hover {
    opacity: 1;
}

textarea {
    resize: vertical;
    min-height: 2em !important;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    max-width: 50%;
    width: max-content;
    background: var(--accent-color);
    border: 1px solid var(--border-light);
    /* color: #000; */
    cursor: pointer;
    user-select: none;
}

#players_list,
#events_list {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: space-around;
}

#events_list {
    flex-direction: row;
}

#players_list>.player,
#events_list .description {
    justify-content: space-around;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    padding: .9em;
    margin: .5em;
    min-width: 100px;
    /* box-shadow: var(--box-shadow); */
    /* background: var(--dark-graybitalpha); */
    box-shadow: var(--box-shadow);
    border: 1px solid var(--border-light);
    color: #fff;
    flex-direction: column;

    background: var(--accent-color3-alpha);
    box-shadow: var(--box-shadow-accent3);
}

#players_list>.player.dead {
    /* border-color: var(--dark-graybitalpha); */
    opacity: .5;
}

#players_list>.player.dead>.username {
    text-decoration: line-through;
}

#players_list>.player.wolf {
    background: var(--accent-color2-alpha);
    box-shadow: var(--box-shadow-accent2);
}

#players_list>.player.dead:hover,
#players_list>.player.dead:active {
    opacity: .9;
}

.player_input {
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    border: 1px solid #000a;
    background: #222a;
    margin: .5em;
}

#events_list .date {
    font-weight: 900;
    font-size: .9rem;
    padding: .4em .8em;
}

.event::after {
    pointer-events: none;
    opacity: 0;
    display: inline;
    position: absolute;
    width: min-content;
    height: min-content;
    content: attr(data-type);
    padding: .3em .5em .4em .5em;
    background: #111e;
    z-index: 20;
    font-size: .9rem;
    border-radius: 1em;
    box-shadow: var(--box-shadow);
}

.event:hover::after,
.event:active::after {
    opacity: 1;
}

#events_list .event.giustiziato .description,
.legend .dot.giustiziato {
    background: var(--night-bg);
}

#events_list .event.giustiziato .description,
.legend .dot.giustiziato {
    background: var(--accent-color3-alpha);
    box-shadow: var(--box-shadow-accent3);
}

#events_list .event.assassinato .description,
.legend .dot.assassinato {
    background: var(--accent-color2-alpha);
    box-shadow: var(--box-shadow-accent2);
}