:root {
    --footer-height: 2em;
    --accent-color: #eeff00c0;
    --dur: .4s;
    --box-shadow: 0 4px 20px -4px #000b;
    --dark-grayalpha: #4446;
    --dark-graybitalpha: #111a;
    /* --night-bg: #2c3b899e; */
    /* --daykill-bg: #439d339e; */
    --daykill-bg: #2c3b899e;
    --nightkill-bg: #8c1f1f9e;
}

* {
    box-sizing: content-box;
    scroll-behavior: smooth;
}

input, select, button, textarea,.event::after {
    transition: background var(--dur), color var(--dur), opacity var(--dur), border var(--dur);
}

*:not(input, button, select, option, textarea) {
    text-shadow: 0 1px 4px #000d;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #302919;
}
body {
    background: url('img/village.jpg') center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
body > * {
    flex: 1;
}

center {
    height: max-content;
    max-width: 100%;
    padding: 2em 10%;
}
header, center, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
header {
    flex-direction: row;
    background: linear-gradient(#000c, #0000);
    user-select: none;
    flex-wrap: wrap;
}

header h2 {
    /* min-width: 200px; */
    width: max-content;
    min-width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em;
    /* flex: 1; */
}
header img {
    margin-right: .5em;
    margin-top: 2px;
}
header ul {
    flex: 1;
    list-style: none;
    display: flex;
    padding: 1em;
    /* width: 90%; */
    text-align: center;
    align-items: center;
}
header ul li {
    flex: 1;
    min-width: 100px;
}
.flex-column {
    flex-direction: column;
}
form {
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    min-height: var(--footer-height);
    padding: 1.4em 10vw;
    text-align: center;
    background: linear-gradient(#0000, #000c);
    user-select: none;
}

.legend {
    font-style: italic;
    opacity: .75;
    font-size: .8rem;
}
.legend .dot {
    width: max-content;
    height: min-content;
    border-radius: 1em;
    padding: .5em;
    border: 1px solid #0008;
    box-shadow: var(--box-shadow);
    display: inline-block;
}

a {
    color: var(--accent-color);
}
.player a,
.event a {
    color: #fffd;
    font-weight: bold;
    text-decoration: none;
}

input, select, button, textarea, option {
    border-radius: 2em;
    text-align: center;
    border: none;
    background: #eee;
    margin: .65em;
    padding: .4em .6em;
    box-shadow: var(--box-shadow);
    outline: none !important;
    min-width: 8em;
    opacity: .8;
}
input, select, button {
    height: 2em;
}
.full-width {
    width: 100%;
    user-select: none;
}
.half-width {
    width: 40%;
}
input:active, 
select:active, 
button:active,
textarea:active,
textarea:hover, 
input:hover,
select:hover, 
button:hover {
    opacity: 1;
}
textarea {
    resize: vertical;
}
button {
    text-transform: uppercase;
    font-weight: bold;
    max-width: 50%;
    width: max-content;
    /* border-radius: .5em; */
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: #000;
    cursor: pointer;
    user-select: none;
}

/* events and players LIST / CALENDAR */

#players_list, #events_list {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: space-around;
}
#events_list {
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    flex-direction: row;
}
#players_list > .player,
#events_list .description {
    justify-content: space-around;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    padding: .9em;
    margin: .5em;
    border-radius: 4px;
    min-width: 100px;
    box-shadow: var(--box-shadow);
    border: 2px solid #0007;
    background: #222a;
    flex-direction: column;
    color: #fff;
}
#players_list > .player.dead {
    background: var(--dark-grayalpha);
    border-color: var(--dark-graybitalpha);
    color: #ccc;
}
.player_input {
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    border: 2px solid #000a;
    background: #222a;
    margin: .5em;
}
#events_list .date {
    font-weight: 900;
    font-size: .9rem;
    padding: .4em .8em;
}

.event::after {
    pointer-events: none;
    opacity: 0;
    display: inline;
    position: absolute;
    width: min-content;
    height: min-content;
    content: attr(data-type);
    padding: .3em .5em .4em .5em;
    background: #111e;
    z-index: 20;
    /* text-transform: uppercase; */
    font-size: .9rem;
    border-radius: 1em;
    box-shadow: var(--box-shadow);
}
.event:hover::after,
.event:active::after {
    opacity: 1;
}

/* eventi colori */
#events_list .event.giustiziato .description,
.legend .dot.giustiziato {
    background: var(--night-bg);
}
#events_list .event.giustiziato .description,
.legend .dot.giustiziato {
    background: var(--daykill-bg);
}
#events_list .event.assassinato .description,
.legend .dot.assassinato {
    background: var(--nightkill-bg);
}
/* #events_list > .event.votazione .description {
} */