:root {
    --footer-height: 2em;
    --accent-color: #eeff00;
    --dur: .4s;
    --box-shadow: 0 4px 20px -4px #000b;
}

* {
    box-sizing: content-box;
    scroll-behavior: smooth;
}

input, select, button, a {
    transition: background var(--dur), color var(--dur), opacity var(--dur), border var(--dur);
}

*:not(input, button, select, option, textarea) {
    text-shadow: 0 1px 4px #000d;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #333;
    background: url('img/village.jpg') center center fixed;
    background-size: cover;
}
body {
    display: flex;
    flex-direction: column;
}
body > * {
    flex: 1;
}

center {
    height: max-content;
    max-width: 100%;
    padding: 2em 10%;
}
header, center, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
header {
    flex-direction: row;
    background: linear-gradient(#000c, #0000);
    user-select: none;
    flex-wrap: wrap;
}

header h2 {
    /* min-width: 200px; */
    width: max-content;
    min-width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em;
    /* flex: 1; */
}
header img {
    margin-right: .5em;
    margin-top: 2px;
}
header ul {
    flex: 1;
    list-style: none;
    display: flex;
    padding: 1em;
    /* width: 90%; */
    text-align: center;
    align-items: center;
}
header ul li {
    flex: 1;
    min-width: 100px;
}

form {
    flex-direction: row;
    flex-wrap: wrap;
}
footer {
    min-height: var(--footer-height);
    padding: 1.4em 10vw;
    text-align: center;
    background: linear-gradient(#0000, #000c);
    user-select: none;
}

.legend {
    font-style: italic;
    opacity: .75;
    font-size: .8rem;
}

a {
    color: var(--accent-color);
}

input, select, button {
    height: 2em;
    /* border-radius: .3em; */
    border-radius: 2em;
    text-align: center;
    border: none;
    background: #eee;
    margin: .65em;
    padding: .4em .6em;
    box-shadow: var(--box-shadow);
    width: 100%;
    outline: none !important;
}
input:active, 
select:active, 
button:active,
input:hover, 
select:hover, 
button:hover {
    opacity: .8;
}
button {
    text-transform: uppercase;
    font-weight: bold;
    max-width: 50%;
    width: auto;
    border-radius: .5em;
    background: var(--accent-color);
    color: #000;
    cursor: pointer;
}

/* events */
#events {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
}
#events > .event {
    flex: 1;
    border-radius: .4em;
    margin: 1em;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 


DA UNIFICARE CON QUELLO SOPRAAAAAAAAAAAAA



*/

#players {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}
#players > .player {
    justify-content: space-around;
    display: flex;
    padding: .5em;
    flex: 1;
    margin: .5em;
    flex-wrap: wrap;
    border: 2px solid #000a;
    background: #222a;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
}
#players > .player.dead {
    background: #2223;
    opacity: .8;
    color: #ccc;
}